.car {
    width:80%;
  height:660px;
  align-items: stretch
}
@media (max-width: 600px) {
    .car {
      width:80%;
      height: 600px;;
    }
}

img {
    float: left;
    width:  700px;
    height: 600px;
    object-fit: cover;
}