.car {
    width:100%;
  height:660px;
  align-items: stretch;
  
    
}

.car img {
      float: left;
      width:  700px;
      height: 600px;
      object-fit: cover;
  }
  
.car h3{
  color: white;
}

.slider{
  color: white;
}

@media (max-width: 600px) {
    .car {
      width:80%;
      height: 600px;;
    }
}

